


.container {
  //max-width: 1240px;
  //margin-left: auto;
  //margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  color: $primary;
  @media only screen and (max-width: 768px) {
    font-size: 36px;
  }
}

.menu-account {
  border-radius: 8px;
  max-width: unset !important;
  .user-data {
    display: flex;
    flex-direction: column;
    > div {
      display: flex;
      flex-direction: column;
      .label {
        color: $grey;

      }
    }
  }
  .q-btn {
    border-radius: 0;
  }
}

.order-details-modal {
  .q-card {
    width: 100%;
    max-width: 430px;
    .close-modal {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
    }

    .q-card__section {
      display: flex;
      flex-direction: column;
      gap: 5px;
      > div {
        .label {
          display: flex;
          flex-direction: column;
          color: grey;
        }
      }
    }
  }
}

